<div class="home-container">
    <img src="assets/images/Subiksha_Profile_Image.jpg" alt="Subiksha Vaidhyanthan" class="profile-img">
  
    <h1>Hi, I'm Subiksha Vaidhyanathan</h1>
    <p class="bio">
      Junior at Wright State University | Computer Science & Mathematics Minor<br>
      Passionate about Software Development and Innovation.
    </p>
  
    <h2>Skills</h2>
    <ul>
      <li>AngularJS</li>
      <li>Python</li>
      <li>Java</li>
      <li>C++</li>
      <li>Linux</li>
      <li>SQL</li>
      <li>Firebase</li>
      <li>HTML and CSS</li>
    </ul>
  
    <div class="links">
      <a href="assets/Subiksha_Vaidhyanthan.pdf" download>Download Resume</a>
      <a href="https://www.linkedin.com/in/subiksha04/" target="_blank">LinkedIn</a>
      <a href="https://github.com/subixsh04" target="_blank">GitHub</a>
    </div>
  </div>
  